.device-page-container {
    /* background-image: url("images/amp-background.jpg"); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-name-container {
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
}

.page-name {
    color: white;
}

.hero-image {
    margin: 0 auto;
    max-width: 90%;

}

.excerpt-container {
    background-color: rgba(0, 0, 0, .9);
    border-radius: 12px;
    width: 50%;
    margin-left: 16%;
    /* margin: 50px auto; */

    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.excerpt-container p, .excerpt-container lh, .excerpt-container li, .excerpt-container h2 {
    font-family: Roboto;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}



.excerpt-container lh{
    line-height: 25px;
}

.manual-text-container {
    width: 75%;
    margin: 0 auto;
}

.manual-text-container p {
    line-height: 1.5;
    text-decoration: none;
}