.device-page-container {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.device-page-container ul{
    list-style-type: none;
}

.device-page-container p {
    color: white;
    font-family: Roboto;
    font-size: 18px;
    padding: 2vh 2vw 2vh 2vw;
    line-height: 25px;
    margin: 0;
}

.device-page-container h1, .device-page-container h2 {
    color: white;
    font-family: Roboto;
}

.device-page-container h1 {
    font-size:30px;
}

.device-page-container a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
}

.device-page-header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;

    width: 80vw;
    margin: 0 auto;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-logo-container {
    display: flex;
    flex-direction: column;
    width:200px;

    align-items: center;
    justify-content: center; 
}

.navbar-logo-container span {
    color: white;
    font-family: Roboto;
    margin-bottom: 15px;
}

.navbar-logo {
    margin-top: 30px;;
    border-radius: 12px;
    width:100px;
}

.hero {
    min-height: 50vh;
    display: grid;
    justify-items: center;
    align-content: start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    margin: auto 20% 20px 20%;
}



.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 5vw 0 5vw;
    margin-bottom: 10vh;
}

.main-content section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width: 60%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
}

.main-content section iframe{
     margin: 20px auto;
}

.main-content aside {
    display: flex;
    flex-direction: column;
}


/* .main-content section p {
    width: 75%;
    margin: 0 auto;
} */

.audio {
    margin: 20px auto;
}

.main-content-image {
    border-radius: 12px;
    float: right;

}

.decorator-image {
    margin: 20px;
    border-radius: 12px;
}

.amp-decorator-image {
    float: right;
}

.auto-filter-decorator-image {
   display: block;
   margin: 20px auto;
}

.auto-pan-decorator-image-1 {
    float: right;
}

.auto-pan-decorator-image-2 {
    float: right;
}

.beat-repeat-decorator-image {
    float:right;
}

.chorus-decorator-image {
    float: right;
}

.main-content aside {
    min-width: 25%;
    width: calc((48em - 100%) * 1000);
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
}

.related-devices-header-container {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.related-devices-header {
    padding: 10px 0 10px 0;
}

.card-list {
    display: grid;
    grid-gap: 50px;
    align-items: baseline;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 90%;
    margin: 0 auto;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
}

.card h2  {
    margin: 20px auto 0 auto;
    font-size: 18px;
}

.card img {
    margin: 10px auto;
    max-width: 100%;
    max-height: 200px;
    height: auto;
    border-radius: 12px;
}

.card a {
    margin: 0 auto;
}

.card-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    font-weight: 
    /* justify-content: space-evenly; */
}

.footer {
    display: grid;
    align-items: center;
}



.social {
    justify-self: end;
}

.main-content p {
    color: white;
    font-family: Roboto;
    padding: 2vh 2vw 2vh 2vw;
}


a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
}

/*# sourceMappingURL=styles.css.map */
