.device-name {
    font-size: 18px;
    color: white;
    font-weight: unset;
    font-family: Roboto;
}

.blurb-paragraph {
    color: white;
    font-family: Roboto;
    text-decoration: none;
    font-size: 14px;
}

.device-image {
    border-radius: 12px;
    margin: 0 auto; 
    height: 250px;
    width: auto;
    margin-bottom: 30px;

}

.blurb-container {
    margin: 0 auto;
    width: 66%;
}