.table-of-contents-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    width: 50%;
}

.table-of-contents-container h2 {
    text-align: center;
    color: white;
    font-family: Roboto;
    cursor: pointer;
    margin: 20px;

}

.table-of-contents-section {
    display: flex;
    flex-direction: column;

    background-color: rgba(99, 99, 99, .5);
    border-radius: 12px;
    margin-bottom: 200px;

}

.table-of-contents-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: flex; */
    flex-direction: column;
    text-align: center;

    /* display: none; */
}

ul.open {
    display: flex;
}

ul.open {}

@for $num from 1 to 36 {
    .dropdown-item-#{$num} {
        transform-origin: top center;
        animation: translateX 300ms ($num * 60ms) ease-in-out forwards;
    }

}

@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

ul.closed {
    display: none;
    height: 0;
}

.table-of-contents-list li {
    color: white;
    font-family: Roboto;
    line-height: 25px;
}